{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Lago API Clock ({{ lago_api_clock_identifier }})
{% for service in lago_api_clock_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in lago_api_clock_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStart={{ devture_systemd_docker_base_host_command_docker }} exec {{ lago_api_identifier }} ./scripts/start.clock.sh
Restart=always
RestartSec=30
SyslogIdentifier={{ lago_api_clock_identifier }}

[Install]
WantedBy=multi-user.target
