{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

#jinja2: lstrip_blocks: "True"
[Unit]
Description=Lago API Worker ({{ lago_identifier }}-api-worker)
Requires={{ lago_identifier }}-api.service
After={{ lago_identifier }}-api.service
DefaultDependencies=no

[Service]
Type=simple
ExecStart={{ devture_systemd_docker_base_host_command_docker }} exec {{ lago_identifier }}-api ./scripts/start.worker.sh
Restart=always
RestartSec=30
SyslogIdentifier={{ lago_identifier }}-api-worker

[Install]
WantedBy=multi-user.target
