{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Lago PDF ({{ lago_identifier }}-pdf)
{% for service in lago_pdf_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ lago_identifier }}-pdf 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ lago_identifier }}-pdf 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ lago_identifier }}-pdf \
      --log-driver=none \
      --user={{ lago_uid }}:{{ lago_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ lago_pdf_container_network }} \
      {% if lago_pdf_container_http_bind_port %}
      -p {{ lago_pdf_container_http_bind_port }}:3000 \
      {% endif %}
      --env-file={{ lago_pdf_base_path }}/env \
      --label-file={{ lago_pdf_base_path }}/labels \
      {% for volume in lago_pdf_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
      {% endfor %}
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ lago_pdf_container_tmpfs_tmp_size }} \
      {% for arg in lago_pdf_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ lago_pdf_container_image }}

{% for network in lago_pdf_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ lago_identifier }}-pdf
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ lago_identifier }}-pdf

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ lago_identifier }}-pdf 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ lago_identifier }}-pdf 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ lago_identifier }}-pdf

[Install]
WantedBy=multi-user.target
